html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
body{
    background-color: rgb(187, 209, 249);
}
#header{
    text-align: center;
}
#header img{
    max-height: 500px;
    width: 500px;
}
#header h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
ul li{
    font-size: 18px;
}
table{
    border-collapse: collapse;
}
.course-table,.course-table th,.course-table td{
    border: 2px solid #000;
    padding: 2px;
    font-size: 18px;
}
.course-table tr:nth-child(odd){
    background-color: #ccc;
}
.course-table tr:first-child{
    background-color: rgb(187, 209, 249);
}
.infor{
    width: 80%;
}
a{
    color: blue;
}